@model Hospital.Models.PricingPacks

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
}

<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="page-title page-title_main">Pricing Packages</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 Description">
            <form asp-action="Create" asp-controller="PricingPacks" id="createPackageForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            <input type="hidden" asp-for="IsActive" value="false" />
                            <input type="hidden" asp-for="IsDeleted" value="false" />
                            <label asp-for="PlanName" class="control-label"></label>
                            <input type="text" asp-for="PlanName" class="form-control" />
                            <span asp-validation-for="PlanName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <i class="fa fa-asterisk" aria-hidden="true"></i>  <label asp-for="PlanType" class="control-label"></label>
                            <input type="radio" asp-for="PlanType" name="PlanType" value="@PlanType.Free" class="planType" /> Free
                            <input type="radio" asp-for="PlanType" name="PlanType" value="@PlanType.Paid" class="planType" /> Paid
                            <span asp-validation-for="PlanType" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <i class="fa fa-calendar" aria-hidden="true"></i>  <label asp-for="BillingPeroid" class="control-label"></label>
                            @*<input type="text" asp-for="BillingPeroid" class="form-control" />*@
                            <select asp-for="BillingPeroid" class="form-control">
                                <option value="1 month">1 month</option>
                                <option value="2 month">2 month</option>
                                <option value="3 month">3 month</option>
                                <option value="6 month">6 month</option>
                                <option value="1 year">1 year</option>
                            </select>
                            <span asp-validation-for="BillingPeroid" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <i class="fa fa-money" aria-hidden="true"></i>  <label asp-for="Amount" class="control-label"></label>
                            $<input type="number" min="0" asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <i class="fa fa-file" aria-hidden="true"></i> <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <label asp-for="Features" class="control-label">Features (Add features & seperate with comma)</label>
                            <span style="display: flex">
                                <textarea id="featurename" typeof="text" asp-for="Features" class="form-control features_list" placeholder="Add features and seperate with comma"></textarea>
                            </span>
                            <span asp-validation-for="Features" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <button class="btn btn-md btn-primary"
                                id="addBtn" type="button" style="margin-top:30px">
                            Add Feature
                        </button>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center col-9">Features</th>
                            <th class="text-center col-3">Remove Feature</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
                <div class="m-t-20 text-center">
                    <button type="submit" class="btn btn-success submit-btn">Create Packages</button>
                </div>
            </form>


        </div>

    </div>
</div>

@section Scripts {



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <script>
        $(document).ready(function () {

            // Denotes total number of rows
            var Features = new Array(10);
            var rowIdx ;
            var txt = "";
           
            document.getElementById("featurename").innerHTML = txt;

            // jQuery button click event to add a row
            $('#addBtn').on('click', function () {
                for (rowIdx = 0; rowIdx < Features.length; rowIdx++) {
                   
                        // Adding a row inside the tbody.
                        $('#tbody').append(`<tr id="R${++rowIdx}">
                 <td class="row-index text-center">
                 <textarea id="featurename" typeof="text" name="Features"  class="form-control features_list" placeholder="Add features and seperate with comma"></textarea>
                 </td>
                  <td class="text-center">
                    <button class="btn btn-danger remove"
                      type="button">Remove</button>
                    </td>
                  </tr>`);
                  
                }

            });
            // jQuery button click event to remove a row.
            $('#tbody').on('click', '.remove', function () {

                // Getting all the rows next to the row
                // containing the clicked button
                var child = $(this).closest('tr').nextAll();

                // Iterating across all the rows
                // obtained to change the index
                child.each(function () {

                    // Getting <tr> id.
                    var id = $(this).attr('id');

                    // Getting the <p> inside the .row-index class.
                    var idx = $(this).children('.row-index').children('p');

                    // Gets the row number from <tr> id.
                    var dig = parseInt(id.substring(1));

                    // Modifying row index.
                    idx.html(`Row ${dig - 1}`);

                    // Modifying row id.
                    $(this).attr('id', `R${dig - 1}`);
                });

                // Removing the current row.
                $(this).closest('tr').remove();

                // Decreasing total number of rows by 1.
                rowIdx--;
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/admin/js/pages/PricingPackages.js"></script>
}
