<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="/Home/AboutUs">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">IOS App</a></li>
                <li><a href="#">Andriod App</a></li>
                @*<li><a href="@Url.Action("Login","Account")"><i class="fa fa-sign-in"></i> Account</a></li>*@
            </ul>
        </div>
        <div class="row">
            <p> Copyright &copy; @DateTime.Now.Year by HMS.All rights reserved.</p>
        </div>
    </div>
</footer>