
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http;



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <title>NurseAdmin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .main-footer {
            background-color: #086972 !important;
            color: white !important;
        }

        .user-menu .dropdown-menu {
            min-width: 230px !important;
        }

        .dropdown-item:active {
            background-color: #086972 !important;
        }

        .dropdown-item {
            background-color: lightgray !important;
        }

        .dropdown-menu {
            padding: 10px !important;
        }
    </style>
    <environment names="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="header" style="background-color: #086972">
            <div class="header-left">
                <a href="~/Nurses/Index" class="logo">
                    <img src="~/assets/img/logo-2.png" width="35" height="30" alt=""> <span>NurseAdmin</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/assets/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span class="Username">@User.Identity.Name</span>

                    </a>
                    <div class="dropdown-menu">
                        <form class="dropdown-item" method="post" asp-controller="Account" asp-action="Logout">
                            <center> <input type="submit" class="btn btn-secondary" value="Logout" /></center>
                        </form>
                    </div>
                </li>
            </ul>

        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="menu">
                            <a href="@Url.Action("Index", "Home")"> <i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a>
                        </li>
                        <li>
                            <a href="~/Nurses/Index"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>Dashboard</span></a>
                        </li>



                        <li class="submenu">
                            <a href="~/Nurses/NurseList"><i class="fa fa-user-plus"></i> <span>Nurses</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                @*<li><a href="~/Nurses/AddNurse">Add Nurse</a></li>*@
                                <li><a href="~/Nurses/NurseList">All Nurses</a></li>

                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="~/Nurses/PatientList"><i class="fa fa-wheelchair"></i> <span>Patients</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="~/Nurses/PatientList">All Patients</a></li>

                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="~/Nurses/AllotmentList"><i class="fa fa-bed"></i> <span> Room Allotments </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="~/Nurses/AddAllotment">Add Room Allotments</a></li>
                                <li><a href="~/Nurses/AllotmentList">Allotments List</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="~/Nurses/DepartmentList"><i class="fa fa-hospital-o"></i> <span>Departments</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="~/Nurses/DepartmentList">Department List</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="~/Doctor/Index"><i class="fa fa-address-book-o"></i> <span>Prescription</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <!-- <li><a href="~/Doctor/AddPrescriptions">Add Prescription</a></li> -->
                                <li><a asp-action="PrescriptionList" asp-controller="Nurses">Prescription List</a></li>
                                <li><a asp-action="PatientCaseStudyList" asp-controller="Nurses">Patient Case Study List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-life-ring"></i> <span>Help & Support</span></a>
                        </li>
                        <li>
                            <a asp-action="chat" asp-controller="Nurses"><i class="fa fa-comments"></i><span>Chats</span></a>
                        </li>


                        <li class="submenu">
                            <a href="#"><i class="fa fa-gears"></i> <span> Setting </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="~/Nurses/ResetPassword">Reset Password</a></li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <div class="hidden-xs">
                <center> Copyright © @DateTime.Now.Year All rights reserved</center>
            </div>
        </footer>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/Chart.bundle.js"></script>
    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/app.js"></script>
    <script>
        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 1500,
                seasing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>
</body>
</html>