@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<h2>@ViewData["Title"]</h2>
<div class="col-md-4 confirm_email" data-aos="fade-up">
    <center> <i class="fa fa-lock fa-lock_btn" style="font-size:100px;"></i></center>
    <br />
    <p style="text-align:center">
        Please check your email to reset your password.
    </p>
    <br />
    <img src="~/assets/img/check_email.png" class="img-responsive" style="width:100%;" />
</div>

