
Hospital/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_DoctorLayout.cshtml.g.cs
Hospital/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_NursesLayout.cshtml.g.cs
Services/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
Services/obj/project.nuget.cache
