@model Hospital.Models.AccountViewModels.changePassViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h4 class="page-title page-title_main">Reset Password</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <form asp-action="ResetPassword" asp-controller="Doctor" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <label asp-for="Password" class="control-label">New password</label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <i class="fa fa-lock" aria-hidden="true"></i> <label asp-for="ConfirmPassword" class="control-label">Confirm new password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-success submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

