@model Hospital.Models.SubAdmin.Department

@{
    ViewData["Title"] = "EditDepartment";
    Layout = "~/Views/Shared/_HospitalAdminLayout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/HospitalAdmin/index" class="main_page">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Department</li>

    </ol>
</nav>
<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2 class="page-title page-title_main">Edit Department</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-b-20">
            <form asp-action="EditDepartment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DepartmentID" />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <i class="fa fa-hospital-o"></i> <label asp-for="DepartmentName" class="control-label"></label>
                            <input asp-for="DepartmentName" class="form-control" required />
                            <span asp-validation-for="DepartmentName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <i class="fa fa-file-text" aria-hidden="true"></i> <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" required></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <i class="fa fa-toggle-on" aria-hidden="true"></i> <label class="display-inline">DepartmentStatus</label>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input asp-for="DepartmentStatus" class="form-check-input" type="radio" id="department_Active" value="Active" checked>
                                <label class="form-check-label" for="department_Active">
                                    Active
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="DepartmentStatus" class="form-check-input" type="radio" id="department_IsActive" value="IsActive">
                                <label class="form-check-label" for="department_IsActive">
                                    IsActive
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-t-20 text-center">
                    <button class="btn btn-success submit-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


