@model Hospital.Models.SuperAdminModels.HospitalModel
@{
    ViewData["Title"] = "EditHospital";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/index">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Hospital</li>
    </ol>
</nav>
<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="page-title page-title_main">Edit Hospital </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <form asp-action="EditHospital" asp-controller="Admin" id="updateHospitalForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-building-o" aria-hidden="true"></i>  <label asp-for="HospitalName" class="control-label"></label>
                            <input asp-for="HospitalName" type="text" class="form-control" placeholder="Hospital Name" />
                            <span asp-validation-for="HospitalName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-user" aria-hidden="true"></i>  <label asp-for="ContactPersone" class="control-label"></label>
                            <input asp-for="ContactPersone" class="form-control" />
                            <span asp-validation-for="ContactPersone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <i class="fa fa-phone" aria-hidden="true"></i> <label asp-for="ContactNo" class="control-label"></label>
                            <input asp-for="ContactNo" type="text" class="form-control" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-map" aria-hidden="true"></i> <label asp-for="StateId" class="control-label"></label>
                            <select asp-for="StateId" asp-items="@(new SelectList(Model.States,"Id","StateName"))" class="form-control"></select>
                            <span asp-validation-for="StateId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-building-o" aria-hidden="true"></i>  <label asp-for="CityId" class="control-label"></label>
                            <select asp-for="CityId" asp-items="@(new SelectList(Model.Cities,"Id","CityName"))" class="form-control"></select>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>   <label asp-for="ZipCode" class="control-label"></label>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>  <label asp-for="Address" class="control-label"></label>
                            <textarea asp-for="Address" class="form-control"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="m-t-20 text-center">
                    <button type="submit" class="btn btn-success submit-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/js/pages/ManageHospital.js"></script>
}