@model Hospital.Models.StateMaster


@{
    ViewData["Title"] = "AddState";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/index">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage State</li>
    </ol>
</nav>
<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="page-title page-title_main">Add State </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <form asp-action="ManageState" asp-controller="Admin" id="manageStateForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <i class="fa fa-map" aria-hidden="true"></i> <label asp-for="CountryId" class="control-label"></label>

                            <select asp-for="CountryId" class="form-control">
                                @foreach (var item in ViewBag.Countrys)
                                {
                                    <option value="@item.Id">@item.CountryName</option>
                                }
                            </select>

                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input asp-for="Id" type="hidden" />
                            <i class="fa fa-map" aria-hidden="true"></i> <label asp-for="StateName" class="control-label"></label>
                            <input asp-for="StateName" type="text" class="form-control" placeholder="State Name" autocomplete="off" />
                            <span asp-validation-for="StateName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="state_btn text-left">
                                <button class="btn btn-success submit-btn" type="submit">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <h4 class="page-title"><i class="fa fa-list"></i> Manage State </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <table id="Tbl_StateMaster" class="display dataTable cell-border table-bordered">
                <thead>
                    <tr>
                        <th><i class="fa fa-id-card" aria-hidden="true"></i> S.No</th>
                         <th><i class="fa fa-map" aria-hidden="true"></i> Country Name</th>
                         <th><i class="fa fa-map" aria-hidden="true"></i> State Name</th>
                         <th>  <i class="fa fa-gavel"></i> Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/admin/js/pages/ManageState.js"></script>
}