@*@model IEnumerable<Hospital.Models.PurchasePlans>*@

@{
    ViewData["Title"] = "SubscribedUser";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/HospitalAdmin/index" class="main_page">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subscribed User</li>

    </ol>
</nav>
<h2>Subscribed Users</h2>



